@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/shared/styles/variables.css';
@import '@/shared/styles/animations.css';
@import '@/features/header/styles/header.css';
@import '@/features/results/styles/swiper.css';
@import '@/features/reviews/styles/swiper.css';
@import '@/features/about/styles/photos.css';

@font-face {
  font-family: 'DOCKERONE';
  src: url('/fonts/docker-one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-raleway;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@layer components {
  .font-handwriting {
    font-family: var(--font-handwriting);
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); }
  100% { transform: scale(1); }
}
