.review-swiper {
  padding-bottom: 3rem !important;
  height: auto !important;
}

.review-swiper .swiper-slide {
  height: auto !important;
  padding: 1rem;
}

.review-swiper .swiper-pagination {
  bottom: 0 !important;
}

.review-swiper .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5;
}

.review-swiper .swiper-pagination-bullet-active {
  opacity: 1;
} 